
body{
    background-color: lightyellow;
    font-family: Arial;
}

ul{
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

a{
    text-decoration: none;
    color: darkblue;
    font-size: 18px;
}

a:hover{
    color: red;
}

div{
    margin-left: 40px;
}
